[defaults]
inventory = inventory/staging.ini
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
interpreter_python = auto_silent
roles_path = roles

[ssh_connection]
pipelining = True
