APP_IMAGE={{ app_image }}
APP_IMAGE_TAG={{ app_image_tag }}
APP_ENV={{ app_env }}
APP_PORT={{ app_port | default("8000") }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_DB={{ postgres_db }}
SECRET_KEY={{ secret_key }}
REDIS_URL={{ redis_url }}
APP_ASYNC_DATABASE_URL={{ database_url_async }}
APP_SYNC_DATABASE_URL={{ database_url_sync }}
APP_CELERY_BROKER_URL={{ app_celery_broker_url }}
APP_CELERY_RESULT_BACKEND={{ app_celery_result_backend }}
WEB_CONCURRENCY={{ web_concurrency | default("2") }}
CELERY_WORKER_COUNT={{ celery_worker_count | default("3") }}
CELERY_WORKER_CONCURRENCY={{ celery_worker_concurrency | default("4") }}
